This is a data set that I picked out from kaggle. This can be found at: https://www.kaggle.com/rtatman/did-it-rain-in-seattle-19482017

Pick a dataset. It could be one you've worked with before or it could be a new one. Then build the best decision tree you can.

Now try to match that with the simplest random forest you can. For our purposes measure simplicity with runtime. Compare that to the runtime of the decision tree. This is imperfect but just go with it.

Hopefully out of this you'll see the power of random forests, but also their potential costs. Remember, in the real world you won't necessarily be dealing with thousands of rows. It could be millions, billions, or even more.

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn import ensemble
from sklearn import tree
import pydotplus
import graphviz
import time
%matplotlib inline

In [3]:
df = pd.read_csv('seattleWeather_1948-2017.csv')

In [7]:
print(df.shape)
df.head()

(25551, 5)

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [11]:
df.dtypes

DATE     object
PRCP    float64
TMAX      int64
TMIN      int64
RAIN     object
dtype: object

In [12]:
# Change Rain to binary in order to build model.
df['RAIN'] = df['RAIN'].map(lambda i: 1 if i == True else 0)

In [16]:
# Had missing values before so going to drop some valeus 
df = df.dropna()

In [20]:
df.head(80)

          DATE  PRCP  TMAX  TMIN  RAIN
0   1948-01-01  0.47    51    42     1
1   1948-01-02  0.59    45    36     1
2   1948-01-03  0.42    45    35     1
3   1948-01-04  0.31    45    34     1
4   1948-01-05  0.17    45    32     1
5   1948-01-06  0.44    48    39     1
6   1948-01-07  0.41    50    40     1
7   1948-01-08  0.04    48    35     1
8   1948-01-09  0.12    50    31     1
9   1948-01-10  0.74    43    34     1
10  1948-01-11  0.01    42    32     1
11  1948-01-12  0.00    41    26     0
12  1948-01-13  0.00    45    29     0
13  1948-01-14  0.00    38    26     0
14  1948-01-15  0.00    34    31     0
15  1948-01-16  0.00    34    28     0
16  1948-01-17  0.00    35    29     0
17  1948-01-18  0.00    33    28     0
18  1948-01-19  0.00    34    27     0
19  1948-01-20  0.00    36    29     0
20  1948-01-21  0.00    48    32     0
21  1948-01-22  0.21    47    44     1
22  1948-01-23  0.00    47    43     0
23  1948-01-24  0.10    45    34     1
24  1948-01-25  0.00    46    30     0
25  1948-01-26  0.00    45    32     0
26  1948-01-27  0.00    53    33     0
27  1948-01-28  0.00    53    25     0
28  1948-01-29  0.22    42    34     1
29  1948-01-30  0.03    47    30     1
..         ...   ...   ...   ...   ...
50  1948-02-20  0.74    45    35     1
51  1948-02-21  0.46    49    37     1
52  1948-02-22  0.11    47    38     1
53  1948-02-23  0.00    47    36     0
54  1948-02-24  0.05    44    36     1
55  1948-02-25  0.98    47    41     1
56  1948-02-26  0.09    49    37     1
57  1948-02-27  0.00    47    35     0
58  1948-02-28  0.00    50    32     0
59  1948-02-29  0.00    46    34     0
60  1948-03-01  0.19    47    32     1
61  1948-03-02  0.00    50    31     0
62  1948-03-03  0.00    52    28     0
63  1948-03-04  0.00    57    31     0
64  1948-03-05  0.00    47    40     0
65  1948-03-06  0.06    47    41     1
66  1948-03-07  0.16    42    34     1
67  1948-03-08  0.11    42    33     1
68  1948-03-09  0.00    47    33     0
69  1948-03-10  0.00    51    31     0
70  1948-03-11  0.08    51    31     1
71  1948-03-12  0.06    60    37     1
72  1948-03-13  0.02    54    35     1
73  1948-03-14  0.00    52    34     0
74  1948-03-15  0.00    52    36     0
75  1948-03-16  0.00    50    33     0
76  1948-03-17  0.01    50    36     1
77  1948-03-18  0.13    48    35     1
78  1948-03-19  0.00    47    33     0
79  1948-03-20  0.06    44    33     1

[80 rows x 5 columns]

In [23]:
# decision tree
# Initialize and train our tree.
X = df.drop(['RAIN'], axis = 1)
X = pd.get_dummies(X)
Y = df['RAIN']

dt_start_time = time.time()
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=2,
    max_depth=5,
    random_state = 1337
)
decision_tree.fit(X, Y)
display(cross_val_score(decision_tree, X, Y, cv = 5))
print ("Decision Tree runtime: {}".format(time.time() - dt_start_time))

array([0.57338552, 0.57338552, 0.57338552, 0.57330202, 0.57330202])

Decision Tree runtime: 38.749423027038574

In [25]:
# random forest
rf_start_time = time.time()
rfc = ensemble.RandomForestClassifier()
display(cross_val_score(rfc, X, Y, cv=5))
print ("Random Forest runtime: {}".format(time.time() - rf_start_time))

array([1., 1., 1., 1., 1.])

Random Forest runtime: 74.83951497077942

My random forest model is extremely accurate which makes me wonder if I overfit, however, it took nearly double the amount of time than the simple decision tree.